/*var hackedBackground = document.createElement("link")
hackedBackground.rel = "stylesheet"
hackedBackground.href = "https://alexidians.github.io/Hacked-View/background/hacked.css"
document.body.appendChild(hackedBackground)*/

body {
 background-color: black
 color: green;
}

div {
 background-color: black
 color: green;
}

p {
 color: green;
}

h1 {
 color: green;
}

h2 {
 color: green;
}

h3 {
 color: green;
}

h4 {
 color: green;
}

h5 {
 color: green;
}

h6 {
 color: green;
}
